header {
    display: block;
    text-align: center;
    font-size: 1.7rem;
    color: green;
    font-weight: bold;
}

button {
    padding: 20px 30px;
    background-color: green;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
}

.dark {
    background-color: #ccc;
}